/* 
.container__main {
  width: 90%;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
  position: relative;
  z-index: 1;
 
}
.img__main {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.container {
  width: 80%;
  margin: 3rem auto;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.container__thumbnail {
  border-radius: 1rem;
  /* overflow: hidden; 
  transition: all 0.2s ease-in;
}
.img__thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease-in;
  border-radius: 1rem;
  border: 2px solid transparent;
}
.container__thumbnail:hover .img__thumbnail {
  opacity: 0.5;
  height: 100%;
  border: 2px solid var(--color-orange-500);
}
.selected img {
  opacity: 0.5;
  border: 2px solid var(--color-orange-500);
}

.goToPage {
  display: none;
  background-color: white;
  border: none;
  border-radius: 50%;
  z-index: 3;
  width: 3rem;
  height: 3rem;
}
@media (max-width: 1024px) {
  .gallery {
    padding: 0 1rem;
  }
  .container__main {
    width: 90%;
  }
  .container {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .container__main {
    width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    overflow: hidden;
  }
  .img__main {
    height: 30rem;
    object-fit: cover;
    object-position: center;
  }
  .container {
    display: none;
  }
  .goToPage {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in;
  }
  .goToPage:hover {
    background-color: var(--color-grey-100);
  }
  .btn__previous {
    left: 0.5rem;
  }
  .btn__next {
    right: 0.5rem;
  }
}

@media (max-width: 600px) {
  .gallery {
    width: 100%;
    padding: 0;
  }
  .container__main {
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 0px;
  }
  .img__main {
    border-radius: 0;
  }
} */
