.cart {
  min-width: 30%;
  position: absolute;
  top: 9.9rem;
  right: 0;
  background-color: var(--color-white);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  z-index: 9999;
  border-radius: 1rem;
}
.cartTitle {
  font-size: 1.8rem;
  /* margin-bottom: 1rem; */
  border-bottom: 1px solid var(--color-grey-100);
  padding: 1.5rem 1rem;
}
.cartContent {
  min-height: 10rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emptyCart {
  color: var(--color-grey-500);
  font-size: 1.6rem;
  font-weight: 600;
}
.cartItem {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.cartDetails {
  grid-column: 2/5;
  font-size: 1.4rem;
}
.deleteIcon {
  width: 2rem;
  grid-column: 5;
  justify-self: center;
}
.cartImage {
  width: 100%;
  max-width: 5rem;
  border-radius: 0.5rem;
  grid-column: 1/2;
}
.cartContainerPrices {
  display: flex;
  /* justify-content; */
  gap: 2rem;
}
.cartPrice {
  font-size: 1.4rem;
  color: var(--color-grey-500);
}
.cartTotalPrice {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-grey-950);
}
.cartSubtitle {
  font-size: 1.6rem;
  line-height: 2;
  color: var(--color-grey-700);
}

.checkoutButton {
  margin-top: 1rem;
  background-color: var(--color-orange-500);
  border: none;
  padding: 1.3rem;
  border-radius: 1rem;
  grid-column: 1/-1;
  font-size: 1.4rem;
  font-weight: bolder;
}
.deleteButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 600px) {
  .cart {
    left: 10px;
    right: 10px;
  }
  .cartSubtitle {
    font-size: 1.8rem;
  }
}
